<div class="modal-header">
    <h6 class="modal-title pull-left">Download APP</h6>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p class="title mb-4">Download EDYOUHUB</p>
    <div class="links">
        <a href="https://play.google.com/store/apps/details?id=codin.EdyouHub.com" target="_blank">
            <img src="assets/imgs/google.svg" alt="" />
        </a>
        <a href="https://apps.apple.com/us/app/edyouhub/id1584685694" target="_blank">
            <img src="assets/imgs/apple.svg" alt="" />
        </a>
    </div>
</div>