<div class="modal-header">
    <h6 class="modal-title pull-left">Education Fees</h6>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="feesForm">
        <div class="form-group mb-3">
            <input type="text" class="form-control p-2 mb-1" placeholder="Name" formControlName="name" />
            <small class="text-danger" *ngIf="
            feesForm.controls['name'].touched &&
            !feesForm.controls['name'].valid
          ">Field can't be empty</small>
        </div>
        <div class="form-group mb-3">
            <input type="tel" class="form-control p-2 mb-1" placeholder="Mobile Number" formControlName="phone" />
            <small class="text-danger" *ngIf="
            feesForm.controls['phone'].touched &&
            !feesForm.controls['phone'].valid
          ">Field can't be empty</small>
        </div>
        <div class="form-group mb-3" *ngIf="citiesData?.length">
            <select class="form-select  p-2 mb-1" aria-label="Default select example" placeholder="City"
                (change)="onCityChange($event)"
                formControlName="city">
                <option value="" selected class="selected" disabled>City</option>
                <option [value]="city?.id" *ngFor="let city of citiesData">{{ city?.name_en}}</option>
            </select>
            <small class="text-danger" *ngIf="
            feesForm.controls['city'].touched &&
            !feesForm.controls['city'].valid
          ">Field can't be empty</small>
        </div>
        <div class="form-group mb-3" *ngIf="areasData?.length">
            <select class="form-select  p-2 mb-1" aria-label="Default select example" placeholder="area"
                formControlName="area">
                <option value="" selected class="selected" disabled>Area</option>
                <option [value]="area?.id" *ngFor="let area of areasData">{{ area?.name_en}}</option>
            </select>
            <small class="text-danger" *ngIf="
            feesForm.controls['area'].touched &&
            !feesForm.controls['area'].valid
          ">Field can't be empty</small>
        </div>
        <div class="form-group mb-3">
            <input type="number" class="form-control p-2 mb-1" placeholder="Amount" formControlName="amount" />
            <small class="text-danger" *ngIf="
            feesForm.controls['amount'].touched &&
            !feesForm.controls['amount'].valid
          ">Field can't be empty</small>
        </div>

        <button class="btn d-block mt-4" (click)="onSubmit()" *ngIf="!loading"
            [disabled]="feesForm.touched && !feesForm.valid">Send</button>
        <div class="loader mt-4" *ngIf="loading">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
  </div> -->