<section class="container pt-4 pb-4">
    <div class="row mb-2">
        <h1 class="title">Events</h1>
    </div>
    <div class="row mt-2 img-row">
        <div class="events-content col-lg-10 col-md-11 col-sm-11">
            <p class="text">
                Find all events related to education and all educational entities, check their details, reserve your
                seat, and participate in it
            </p>
            <button class="btn">Participate Now</button>
        </div>
    </div>
</section>