<section class="container-fluid pt-4 pb-5" id="directory">
    <div class="container">
        <div class="row title-row">
            <h1 class="title">Directory</h1>
        </div>
        <div class="row content-row mt-1">
            <div class="col-lg-10 col-md-11 col-sm-12 m-auto item-wrapper mt-3">
                <div class="text-part">
                    <h3 class="head">Education places</h3>
                    <p class="text">
                        <span>
                            Find all  education places for all education stages either basic education (Schools &
                            Nurseries), high education (Universities & Institutes), and open education (academies)
                        </span>
                        <span class="d-block">
                            Here you can find all basic info, fees and posts
                        </span>
                    </p>
                    <button class="btn mt-2" (click)="openAppPopup()">
                        Explore Places
                    </button>
                </div>
                <div class="img-part">
                    <img src="assets/imgs/entities-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-10 col-md-11 col-sm-12 m-auto item-wrapper mt-3">
                <div class="img-part">
                    <img src="assets/imgs/admission-img.png" alt="">
                </div>
                <div class="text-part">
                    <h3 class="head">Admission</h3>
                    <p class="text">
                        Be updated with the opened and coming admissions (especially for schools and universities) and apply in it online
                    </p>
                    <button class="btn mt-2" (click)="openAppPopup()">
                        Explore Admissions
                    </button>
                </div>
            </div>
            <div class="col-lg-10 col-md-11 col-sm-12 m-auto item-wrapper mt-3">
                <div class="text-part">
                    <h3 class="head">Vacancy</h3>
                    <p class="text">
                        Find the available vacancies in all the  education places and apply your CV
                    </p>
                    <button class="btn mt-2" (click)="openAppPopup()">
                        Apply Now
                    </button>
                </div>
                <div class="img-part">
                    <img src="assets/imgs/vacancy-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>