header {
  height: 100%;
  background: linear-gradient(180deg, var(--light-red) 60%, var(--white) 40%);
  position: relative;
  @media (max-width: 576px) {
    padding: 2em 1em !important;
  }
  .circle {
    position: absolute;
    top: 0;
    right: 0;
  }
  .logo-wrapper {
    @media (max-width: 576px) {
      text-align: center;
      margin-bottom: 2em;
    }
    img {
      @media (max-width: 768px) {
        width: 50px;
      }
      @media (max-width: 768px) {
        width: 60px;
        margin: auto;
      }
    }
  }
  .links-wrapper {
    justify-content: center;
    text-align: center;
    @media (max-width: 768px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        a {
          cursor: pointer;
          color: var(--black);
          margin-right: 1em;
          margin-left: 1em;
          @media (max-width: 1024px) {
            margin-right: 0.5em;
            margin-left: 0.5em;
          }
          @media (max-width: 768px) {
            margin-right: 0.5em;
            margin-left: 0.5em;
            font-size: 0.8em;
          }
          &:hover {
            color: var(--primary);
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
  .lg-nav {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  .sm-nav {
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
    .head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .logo-wrapper {
        margin-bottom: 0;
      }
    }
    .menu-items {
      margin-top: 1em;
      li {
        a {
          cursor: pointer;
          color: var(--black);
          margin-right: 1em;
          margin-left: 1em;
          @media (max-width: 1024px) {
            margin-right: 0.5em;
            margin-left: 0.5em;
          }
          @media (max-width: 576px) {
            margin-right: 0.5em;
            margin-left: 0.5em;
            font-size: 0.8em;
          }
          &:hover {
            color: var(--primary);
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
  .menu-btn-wrapper {
    .menu-btn {
      box-shadow: none;
      @media (max-width: 576px) {
      }
      &:hover {
        i {
          color: var(--primary);
        }
      }
      i {
        font-size: 1.2em;
      }
    }
  }

  .titles {
    text-align: center;
    position: relative;

    .lines {
      position: absolute;
      bottom: 0;
      inset-inline-start: 13%;
      width: 80px;
      height: 40px;
      @media (max-width: 768px) {
        inset-inline-start: 0%;
      }
    }
    .title {
      font-size: 2.2em;
      font-weight: 600;
      color: var(--black);
      @media (max-width: 576px) {
        font-size: 2em;
      }
    }
    .you {
      margin-bottom: 10px;
      @media (max-width: 576px) {
        width: 30%;
      }
    }
  }
  .app-screens {
    img {
      width: 100%;
    }
  }
  .app-info-wrapper {
    text-align: center;
    justify-content: center;
    .title {
      color: var(--primary);
      font-size: 1.5em;
    }
    .links {
      a {
        cursor: pointer;
        text-decoration: none;
        margin-right: 1em;
        margin-left: 1em;
        padding: 5px;
        @media (max-width: 1024px) {
          margin-right: 0.5em;
          margin-left: 0.5em;
        }
        img {
          width: 200px;
          @media (max-width: 1024px) {
            width: 180px;
          }
          @media (max-width: 576px) {
            width: 130px;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}

.update-wrapper {
  .first-line {
    .first {
      display: inline-block;
      position: relative;
      img {
        width: 100%;
      }
      span {
        position: absolute;
        z-index: 1;
        top: 15%;
        inset-inline-start: 10%;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .update-title {
    font-size: 2rem;
    font-weight: bold;
    margin-inline-start: 10px;
    vertical-align: middle;
  }
  .second-line {
    .may {
      display: inline-block;
      vertical-align: top;
      width: min-content;
      span {
        font-size: 2rem;
        display: block;
        font-weight: bold;
        color: var(--primary);
      }
      img {
        width: 100%;
        margin: auto;
      }
    }
  }
}
