.container-fluid {
  // background-color: var(--light-red);
  background-image: url("../../../../../assets/imgs/fees-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .head {
    color: var(--black);
  }
  .desc {
    width: 50%;
    margin: auto;
    color: var(--black);
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  .text-part {
    .fees-part {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      background-color: var(--primary);
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      .title {
        text-align: start;
        font-weight: 600;
        color: var(--white);
        font-size: 20px;
        margin-bottom: 0.5em;
      }
      .desc {
        color: var(--white);
        font-size: 16px;
        text-align: start;
        width: 100%;
      }
      .features {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 2em;
        .group {
          display: inline-block;
          margin-inline-end: 3em;
          text-align: center;
          .head {
            font-weight: 600;
            color: var(--white);
            margin-bottom: 0.5em;
          }
          .data {
            color: var(--white);
            margin: 0;
          }
        }
      }
    }
    .info-part {
      margin-top: 6em;
      text-align: center;
      .title {
        color: var(--black);
        font-weight: 600;
      }
      .cards-wrapper {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .info-card {
          width: 40%;
          display: inline-block;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
          background-color: var(--white);
          padding: 20px 30px;
          text-align: center;
          border-radius: 10px;
          .info-icon-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--light-red);
            padding: 3px;
            margin: auto;
            text-align: center;
            line-height: 2.2em;
            i {
              font-size: 20px;
            }
          }
          .text {
            margin-top: 1em;
            color: var(--black);
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0.5em;
          }
          .data {
            font-size: 12px;
            color: var(--black);
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .form-part {
    padding: 1em;
    .card {
      border: none;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
      .title {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 1em;
        color: var(--black);
      }
    }
    .form-group {
      input {
        box-shadow: none;
        font-size: 14px;
        outline: none;
        margin-bottom: 1em;
      }
      small {
        font-size: 12px;
      }
    }
  }
  .btn {
    background-color: var(--primary);
    width: 100%;
    color: var(--white);
    height: 2.7em;
    box-shadow: none;
    outline: none;
  }
}

.file-preview {
  display: block;
  margin-top: 1em;
  .file-wrapper {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(221, 217, 217);
    .file-name {
      color: black;
      margin-inline-end: 10px;
      vertical-align: text-bottom;
    }
    .remove {
      color: red;
      font-size: 1.5em;
      line-height: 1.5em;
      cursor: pointer;
    }
  }
}

.content-row {
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loader {
  justify-content: center;
  text-align: center;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 4px solid var(--primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
