<section class="container-fluid mt-3 pt-4 pb-4">
    <div class="container">
        <div class="row content-row mt-5 pt-5">
            <!-- <h1 class="title">EDYOUHUB Business Accounts</h1> -->
            <p class="desc">
                <span class="title">Courses</span> will be available on EDYOUHUB platform either onsite courses or video
                courses
            </p>
            <div class="btn-wrapper mt-4">
                <button class="btn" (click)=" openAppPopup()">Get Started</button>
            </div>
        </div>
    </div>
</section>