<section class="container pt-4 pb-4" id="courses">
    <div class="row mb-2">
        <h1 class="title">Courses</h1>
        <!-- <p class="desc">Courses will be available on EDYOUHUB platform either onsite courses or video courses</p> -->
    </div>
    <div class="row courses-items">
        <div class="col-lg-6 col-md-10 col-sm-12 item-wrapper">
            <div class="item">
                <div class="item-info">
                    <h5 class="item-title">Onsite Courses</h5>
                    <p class="item-desc">Find the details of onsite courses that are shared by the  education places.
                        Pay their fees online and pick your seat</p>
                </div>
                <div class="item-img-wrapper">
                    <img src="assets/imgs/course-item-img-1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-10 col-sm-12 item-wrapper">
            <div class="item">
                <div class="item-info">
                    <h5 class="item-title">Video Courses</h5>
                    <p class="item-desc">Find a big variety of online courses that are uploaded by  education places. Simply purchase it and enjoy the online study through professionally recorded videos</p>
                </div>
                <div class="item-img-wrapper">
                    <img src="assets/imgs/course-item-img-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>