<section class="container-fluid pt-5 pb-5 mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 info-part">
                <h1 class="title">Education Fees</h1>
                <p class="text">
                    <span class="d-block">Education fee payment isn’t a load anymore for parents and fee collection isn’t a load anymore for educational entities</span>
                    <span class="d-block">Now, parents and adult students can pay the education fee in simple installment plans and the educational entities will get their fees in cash</span>
                    <span class="d-block">Users will find different payment methods to match everyone</span>
                </p>
                <button class="btn mt-3">Calculate Fees Now</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 img-part">
                <img src="assets/imgs/fees-img.png" alt="">
            </div>
        </div>
    </div>
</section>