footer {
  background-color: var(--primary);
  @media(max-width: 576px) {
    padding: 1em 0em !important;
  }
  .icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
  }
  .nav-links {
    margin-top: 2em;
    margin-bottom: 2em;
    @media(max-width: 576px) {
      padding: 0em !important;
    }
    .links-wrapper {
      text-align: center;
      justify-content: center;
      a {
        color: var(--white);
        text-decoration: none;
        margin-right: 0.7em;
        margin-left: 0.7em;
        padding-bottom: .7em;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        @media(max-width: 576px) {
          margin-right: 0.5em;
          margin-left: 0.5em;
          font-size: 0.9em;
        }
        &:hover {
          color: var(--yellow);
          border-bottom: 1px solid var(--yellow);
          transition: all 0.3s ease-in-out;

        }
      }
    }

  }
  .credits {
    p {
      text-align: center;
      color: var(--white);
      @media(max-width: 576px) {
        font-size: 0.9em;
      }
    }
  }
}
