<footer class="container-fluid p-5">
  <div class="container">
    <div class="row icon-row justify-content-center">
      <img class="icon" src="assets/imgs/icon.png" alt="">
    </div>
    <div class="row nav-links justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 m-auto links-wrapper">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms Of Use</a>
        <a href="#">Cookie Policy</a>
      </div>
    </div>
    <div class="row credits">
      <p>© EDYOUHUB 2022</p>
    </div>
  </div>
</footer>
