<footer class="container-fluid p-5">
  <div class="container">
    <div class="row icon-row justify-content-center">
      <img class="icon" src="assets/imgs/icon.png" alt="">
    </div>
    <div class="row nav-links justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 m-auto links-wrapper">
        <a (click)="openTextPopup('privacy')">Privacy Policy</a>
        <a (click)="openTextPopup('terms')">Terms Of Use</a>
        <a (click)="openTextPopup('cookie')">Cookie Policy</a>
      </div>
    </div>
    <div class="row credits">
      <p>© EDYOUHUB 2023</p>
    </div>
  </div>
</footer>
