
<app-header></app-header>
<app-features-images-section></app-features-images-section>
<app-edyouhub-modules></app-edyouhub-modules>
<app-courses-section></app-courses-section>
<app-business-accounts-section></app-business-accounts-section>
<app-events-section></app-events-section>
<app-fees-section></app-fees-section>
<app-contact-section></app-contact-section>
<!-- <app-smart-road-exhibition></app-smart-road-exhibition> -->
<!-- <app-fees-installment></app-fees-installment>
<app-school-supplies></app-school-supplies>
<app-business-cooperation></app-business-cooperation> -->
<!-- <app-contact-us></app-contact-us> -->
<app-pre-footer-section></app-pre-footer-section>
