<section class="container-fluid p-5" id="smart_road_exhibition">
  <div class="container">
    <div class="row top-row">
      <div class="logo">
        <img src="assets/imgs/smart-logo.png" alt="" />
      </div>
      <div class="title">
        <h3 class="head text-center text-capitalize fw-bold mb-2">
          Smart Road Exhibition
        </h3>
        <p class="slogan">The Road to Beyond The Present</p>
      </div>
    </div>
    <div class="row sub-title mt-4">
      <h5>Are You Looking To Study Abroad ?</h5>
    </div>
    <div class="row content mt-5">
      <div class="content-item col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="icon">
          <img src="assets/imgs/exp-img-1.png" alt="" />
        </div>
        <div class="text">
          <p>
            <strong>Smart Road</strong> exhibition is organized by Edyouhub
            introducing international universities in Egypt, Turkey, and Europe.
          </p>
        </div>
      </div>
      <div class="content-item col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="icon">
          <img src="assets/imgs/exp-img-2.png" alt="" />
        </div>
        <div class="text">
          <p>
            All students who care to study abroad or study in international
            universities in Egypt are invited to find their road to their future
          </p>
        </div>
      </div>
      <div class="content-item col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="icon">
          <img src="assets/imgs/exp-img-3.png" alt="" />
        </div>
        <div class="text">
          <p>
            Find, meet, and discuss with a number of elite international
            universities to know more about how to apply and join to start your
            successful study journey through a smart road
          </p>
        </div>
      </div>
      <div class="content-item col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="icon">
          <img src="assets/imgs/exp-img-4.png" alt="" />
        </div>
        <div class="text">
          <p>
            Enjoy live streams to show each university venue live with a special
            presentation from the university representative then open discussion
            to answer all attendees’ questions
          </p>
        </div>
      </div>
      <div class="content-item col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="icon">
          <img src="assets/imgs/exp-img-5.png" alt="" />
        </div>
        <div class="text">
          <p>
            Enjoy special discounts on the universities fees and flexible
            installments plans during the exhibition
          </p>
        </div>
      </div>
    </div>
    <div class="row info mt-5">
      <div class="col-lg-8 col-md-10 col-sm-12 m-auto info-wrapper">
        <p class="text">We Are Waiting You</p>
        <div class="row info-row">
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/location-icon.png" alt="">
              <span class="head">Location</span>
            </div>
            <div class="data">The Greek Campus</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/date-icon.png" alt="">
              <span class="head">Date</span>
            </div>
            <div class="data">10 June 2023</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/time-icon.png" alt="">
              <span class="head">Time</span>
            </div>
            <div class="data">10 AM - 10 PM</div>
          </div>
        </div>
        <div class="row info-row">
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/location-icon.png" alt="">
              <span class="head">Location</span>
            </div>
            <div class="data">Alexandria Bibliotheca</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/date-icon.png" alt="">
              <span class="head">Date</span>
            </div>
            <div class="data">13 June 2023</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 info-item mb-3">
            <div class="top">
              <img src="assets/imgs/time-icon.png" alt="">
              <span class="head">Time</span>
            </div>
            <div class="data">10 AM - 10 PM</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row register mt-5">
      <div class="waviy">
        <span style="--i:1">Registration</span>
        <span style="--i:2">Will</span>
        <span style="--i:3">Be</span>
        <span style="--i:4">Soon</span>
       </div>
    </div>
  </div>
</section>
