<section class="container-fluid p-5 pre-footer-section">
    <div class="container">
        <div class="row titles mb-5">
            <div class="col-lg-8 col-md-10 col-sm-12 m-auto update-wrapper">
                <div class="first-line">
                    <div class="first">
                        <img src="assets/imgs/first-img.svg" alt="" />
                        <span>The 1 <sup>st</sup></span>
                    </div>
                    <span class="update-title">Social Platform For Education</span>
                </div>
            </div>
        </div>
        <div class="app-screens row mt-5 mb-5">
            <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
                <!-- <img src="assets/imgs/app-screens.png" alt="" /> -->
                <img src="assets/imgs/app-screens-2.png" alt="" />
            </div>
        </div>
        <div class="row app-info-wrapper mb-5">
            <p class="title mb-4">Download EDYOUHUB</p>
            <div class="col-lg-6 col-md-8 col-sm-12 m-auto links">
                <a href="https://play.google.com/store/apps/details?id=codin.EdyouHub.com" target="_blank">
                    <img src="assets/imgs/google.svg" alt="" />
                </a>
                <a href="https://apps.apple.com/us/app/edyouhub/id1584685694" target="_blank">
                    <img src="assets/imgs/apple.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>